$svg-common 
	background url(sprite.css.svg) no-repeat

.svg-facebook
	@extend $svg-common
	background-position 0 0

.svg-facebook-dims
	width 30px
	height 30px

.svg-twitter
	@extend $svg-common
	background-position 100% 0

.svg-twitter-dims
	width 30px
	height 30px

.svg-vkontakte
	@extend $svg-common
	background-position 0 100%

.svg-vkontakte-dims
	width 30px
	height 30px

