html
  font $base-font-size/$base-line-hight $base-font-family
  font-smoothing()

body
  background-color $color-base-bg
  color $color-base

a
  color $color-base
  transition-property color, background-color
  transition-duration 150ms
  &:focus
    outline thin dotted

::selection
  background rgba($color-main, 0.33)
  text-shadow none
