html
  font $base-font-size/$base-line-hight $base-font-family
  font-smoothing()

body
  background-color $body-bg-color
  color $base-text-color

a
  color $base-text-color
  transition-property color, background-color
  transition-duration 150ms
  &:focus
    outline thin dotted

::selection
  background rgba($main-color, 0.33)
  text-shadow none
