@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);

html
	font-family $base-font-family
	font-size $base-font-size
	font-weight 300
	line-height $base-line-hight
	font-smoothing()
