extend jade/_layout

block head
  - var pageTitle = 'Welcome'

block body
  header
    img(src="/images/logo.png", alt="λ template")
    h1  A master page used to produce web pages
  footer
    .icon-npm
    .icon-gulp
    .icon-postcss
    .icon-stylus
    .icon-coffee

  <svg class="svg-facebook-dims"><use xlink:href="#facebook"></use></svg>
  <svg class="svg-twitter-dims"><use xlink:href="#twitter"></use></svg>
  <svg class="svg-vkontakte-dims"><use xlink:href="#vkontakte"></use></svg>
