extend jade/_layout

block head
  - var pageTitle = 'Welcome'

block body
  img(src="/images/logo.png", alt="λ template")
  h1  A master page used to produce web pages
  p <strong>template</strong> may mean:
  ul
    li a stencil, pattern or overlay used in graphic arts (drawing, painting, etc.) and sewing to replicate letters, shapes or designs
    li a pre-developed page layout in electronic or paper media used to make new pages with a similar design, pattern, or style
    li form letter, a predefined letter which retains its primary intent when individually customised with variable data or text
  p
    a(href="//github.com/nimaxru").icon-github
    a(href="//vk.com/nimaxru").icon-vk
    a(href="//twitter.com/Nimaxru").icon-twitter
    a(href="//www.facebook.com/nimax.ru").icon-facebook
