extend jade/_layout

block head
  - var pageTitle = 'Welcome'

block body
  header
    img(src="/images/logo.png", alt="λ template")
    h1  A master page used to produce web pages
  footer
    .icon-npm
    .icon-gulp
    .icon-postcss
    .icon-stylus
    .icon-coffee
