extend jade/_layout

block head
  - var pageTitle = 'Welcome'

block body
  header
    img(src="/images/logo.png", alt="λ template")
    h1  A master page used to produce web pages
  footer
    .icon-npm
    .icon-gulp
    .icon-postcss
    .icon-stylus
    .icon-coffee

  svg.svg-facebook-dims
    use(xlink:href="#facebook")
  svg.svg-twitter-dims
    use(xlink:href="#twitter")
  svg.svg-vkontakte-dims
    use(xlink:href="#vkontakte")
  svg.svg-youtube-dims
    use(xlink:href="#youtube")
    
  hr
  
  .icon-spinner
    svg.svg-spinner-dims
      use(xlink:href="#spinner")
