extend jade/_layout

block head
	- var pageTitle = 'Cephei'

block body

	header
		h1
			img(src="/images/logo.png")
			div Cephei

	p Markup build system aims you to reach enlightenment and write styles faster.
	p This stuff is intended for it:

	section
		.icon-gulp
		.icon-stylus
		.icon-postcss

	.icon-spinner
		+svg('spinner')

	footer
		+svg('facebook')
		+svg('twitter')
		+svg('vkontakte')
		+svg('youtube')
