body
	min-width 560px
	max-width 60em
	margin-left auto
	margin-right auto
	padding 3em
	text-align center


h1
	flex 1
	font-size 4rem
	font-weight 300
	color rebeccapurple

p
	font-size 1.2rem

svg
	fill rebeccapurple

section
	padding 0 10%

section
header
footer
	margin 3em 0
	display flex
	align-items center
	justify-content space-between
