* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

select:focus,
input:focus,
textarea:focus,
button:focus {
  outline: #5b9dd9 auto;
  outline-offset: -1px;
}

q {
  quotes: "\00ab" "\00bb" "\201e" "\201c";
}

a img {
  border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

small {
  font-size: 80%;
}

html {
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  color: #000;
}

a {
  color: #000;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a:hover {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

a:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

::-moz-selection {
  background: rgba(255,138,0,0.33);
  text-shadow: none;
}

::selection {
  background: rgba(255,138,0,0.33);
  text-shadow: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clear {
  clear: both;
}

[class^="icon-"] {
  display: inline-block;
  background-image: url("../images/sprite.png");
}

.icon-facebook {
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}

.icon-github {
  background-position: -68px 0px;
  width: 64px;
  height: 64px;
}

.icon-twitter {
  background-position: 0px -68px;
  width: 64px;
  height: 64px;
}

.icon-vk {
  background-position: -68px -68px;
  width: 64px;
  height: 64px;
}

body {
  width: 58em;
  margin: 2em auto;
}

header {
  display: block;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {

}