doctype html
html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    block head
    title #{pageTitle}
    meta(name="description" content="A master page used to produce web pages")
    link(rel="stylesheet" href="styles/common.min.css")
    link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    meta(property="og:image" content="//nimax.ru/images/og-image.png")
    link(rel="image_src" href="//nimax.ru/images/og-image.png")
    meta(name="msapplication-TileImage" content="images/windows-tile.png")
    meta(name="msapplication-TileColor" content="#64d0e4")
    meta(name="theme-color" content="#64d0e4")
    script(src="scripts/modernizr.js")
  body

    dev(style="display:none;visibility:hidden;")
      include ../styles/svg-sprite/sprite.symbol.svg

    block body

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script window.jQuery || document.write('<script src="scripts/jquery-1.11.2.min.js"><\/script>')
    script(src="scripts/common.min.js")
    script(src="scripts/main.js")